#contact-form {
  width: 100%;
  height: 100%;
}

#contactForm {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #000;
}

#contactForm h1 {
  margin: 0.5rem;
  font-size: 1.8rem;
}

.form-control {
  margin: 0.8rem;
}

.form-control label {
  font-size: 1.2rem;
  width: 10rem;
  margin-right: 1rem;
}

.form-control input {
  font-size: 1rem;
  padding: 0.5rem;
  width: 15rem;
  border-radius: 10px;
  border: 2px solid #000;
}

.form-control textarea {
  font-size: 1rem;
  padding: 0.5rem;
  width: 15rem;
  border-radius: 10px;
  border: 2px solid #000;
}

.form-control button {
  font-size: 1.5rem;
  padding: 0.5rem;
  width: 20rem;
  border-radius: 10px;
  border: 2px solid #000;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}
